// .form
// .form__label--hidden
// .form__input


// .form {
//     @include e(label) {
//         @include m(hidden) {
//             @extend .srt;
//         }

//         display: block;
//         margin-bottom: em(10px);

        
//     }
.form{
    @include e(input) {
        width: 100%;
        font-size: px(18px);
        padding: px(15px);
        margin-bottom: px(20px);
        border: none;
        border-bottom: 6px solid $primary-color;
        color: $black;
        font-weight: $font-wt-light;   
        placeholder {
            color: palette (grey, darker);
            font-weight: $font-wt-bolder;
        }
    }
}
//     @include e(btn) {
//         @extend %btn;
//         background-color: $color-primary;
    
//     }

// }