// .container
// .grid__row
// .grid__col--2
// .grid__col--3
// .grid__col--4
// .grid__col--5
// .grid__col--6
// .grid__col--7
// .grid__col--8
// .grid__col--9
// .grid__col--10
// .grid__col--11
// .grid__col--12
// .centered
// .theme__colors


@for $i from 1 to $g-col-count + 1{
    .grid__col--#{$i}.theme__colors{
        @extend %grid-styles;

        //margin for grid system
        margin-bottom: px(5px);
        &:last-child {  
            margin-bottom: px(40px);            
        }
    }
}

//background color for each grid__col in grid system
.grid__col {
    @include grid-background-color;
}


//grid max-width
@include mq(medium) {
    @for $i from 1 to $g-col-count {

    $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
    $target: ($g-col-width * $i)  +  ($g-gutter-width * ($i - 1));

        .grid__col--#{$i}{
            width: percentage($target, $context);
        }
    }
}


//flex for grids

.grid {
    @include mq(medium) {
        @include e(row) {
            display: flex;
        }
    }
}


