// .img--logo
// .img--frame
// .img--avatar



.img { 

    @include m(logo) {
        @extend %margin-auto;
        display: block;
        padding: px(40px) 0;
    }

    @include m(frame) {
        width: 100%;
        padding: px(10px);
        border: solid 1px palette(grey, x-light);
    }

    @include m(avatar) {
        @extend %margin-auto;
        display: block;
        padding: px(10px) 0;
    }
}