// .img--logo
// .img--frame
// .img--avatar



.img { 

    @include m(logo) {
        margin: px(40px , 16px)  0  px(35px, 16px);
    }

    @include m(frame) {
        width: 100%;
        padding: px(10px);
        border: solid 1px palette(grey, x-light);
    }
}