// .nav__item




//Navigation using BEM pattern//

.nav {
    @extend %centered;
    padding: 0 0 px(70px, 16px);
    margin: 0;

    @include e(item) {  
        border-radius: 5px;
        padding: 0.95em 0;

        a {
            @extend %text-dec-none;
            color: black;
        }
       
        &:first-child  {
            background-color: $primary-color;
            a {
                color: $white;
            }
        }
    }
}
